<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="https://png.icons8.com/cotton/1600/online-shopping.png" />
    <title>Store | Home</title>
</head>
<!--Styles-->

<style>
    .container{
        text-align: center;
        padding: 15%;
        background-color: cornflowerblue;
        opacity: 0.8;
        border-radius: 20px;
    }

    p{
        font-family: fantasy;
    }

    h1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
    }

    body{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d3/Site_of_coolness.jpg')
    }
</style>

<!--End of styling -->

<body>
    <div class="container">
        <h1>Welcome to MamboStore</h1>
        <p>
            Here at mambo store we carry out various functions that will allow users to interact on a different level
        </p>
    </div>
</body>
</html>