{% extends 'base.html' %} {% load staticfiles%} {% load bootstrap3%} {% block content %}

<style>
    #container, h1{
         text-align: center;
         padding : 8%;
         background-color: crimson;
         border-radius: 20px;
         font-size: 200%;
         margin-left: 15%;
         margin-right: 15%;
         font-family: 'Amatic SC', cursive;
         /* opacity: 0.98; */

    }

    .container-fluid1{
        padding: 12%;
        /* color: white; */
    }
</style>

<body>
<div id="container">
    <h1>Welcome To Your Profile </h1>
</div>

<div class="container-fluid1">
    <div class="row ">
        <div class="col-md-4 col-lg-4 ">
            <hr> 
            {% for detail in info %}
            <h4 style="text-align: center;">{{request.user.username}}</h4>
            <img src="{{detail.profile_photo.url}}" alt="{{request.user.username}}"width="60%" height="60px" style="margin-bottom:20px;margin-bottom:20px;margin-left:20%; border-radius: 500px;">
                <hr>
            <div class="well" style="border-color:black; text-align: center;">
                <span style=" color:rgb(19, 175, 167); ">Bio :</span> {{detail.bio}}
                <button ><a class="button" href="{% url 'createProfile'  %}">Edit</a></button>
            </div>
            {% endfor %}
        </div>


        <!-- Current User's Posts  -->
        <div class=" well col-md-6 " style="padding:5px; border:2px; float:right; height:40%">

            <h6 style="text-align:center; font-size:25px;"> My Items</h6>
            {% for pic in pics %} {% if pic in pics %}
            <div style="text-align: center;">
                <a href="{% url 'manageImage' pic.id  %}">
                    <img src="{{pic.image.url}}" alt="{{Image.image_name}}" class="img-responsive img-thumbnail postImage" width="90%" height="90"
                        style="padding:20px; margin-top:10px; border-color: black">
                </a>
                    <h4 style=" color:rgb(19, 175, 167); text-align:center; margin-left:20px; font-family: 'Bowlby One SC', cursive;">{{pic.image_name}}</h4>

            </div>
            {% else %}

            <p style="text-align: center;">No Items Yet</p>
            
            {% endif %} {% endfor %}
        </div>
    </div>

</body>
{% endblock %}