{% extends 'base.html' %} {% load staticfiles%} {% load bootstrap3%} {% block content %}

<style>
    .container, h1{
         text-align: center;
         padding : 10%;
         background-color: crimson;
         border-radius: 20px;
         font-size: 200%;
         font-family: 'Amatic SC', cursive;

    }

    .container-fluid1{
        padding: 15%;
    }
</style>

<body>
<div class="container">
    <h1>Welcome To Your Profile </h1>
</div>

<div class="container-fluid1">
    <P>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quibusdam laborum, odio omnis sed voluptate quia reiciendis, illo vero beatae eveniet explicabo totam earum temporibus nemo cum doloremque incidunt architecto.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis ipsa libero excepturi dolorem soluta amet inventore qui, magnam cupiditate fuga placeat perspiciatis quaerat blanditiis sit quas esse corporis incidunt nihil.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, aliquam quas totam tenetur, quae distinctio maxime odio illum voluptates quasi doloremque, id harum? Perspiciatis officia sequi magni, aliquid velit atque.
    </P>
</div>
</body>
{% endblock %}