{% extends 'base.html' %} {% load staticfiles%} {% load bootstrap3%} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    
    /* body{
        background-color: black;

    } */

    .container{
        padding-left: 10%; 
        font-family: 'Abril Fatface', cursive;
        margin-top: -1%;
    }

    .carousel-inner{
        width: 90%;
        height: auto;
        border-radius: 20px;
        
    }

    h2{
        text-align: center;
        margin-left: -10%;
    }

    .container1{
        padding: 12%;
        /* background-color: beige; */
        /* padding-top: 5%; */
        /* margin-top: 10%; */
        /* border-radius: 20px; */
    }


</style>

<body>

    <div class="container">
        <h2>The MamboStore Exclusives</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="padding-right: 10%;">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="New york" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    
    <div class="container1">
<section class="col-md-5 pull-right" style=" padding-top: 5%; ">
    {% for image in images %}
    <div class="wrap col-md-12" style="border-bottom: 2px solid rgb(19, 175, 167);">
        <div class="box col-md-12">
            <div class="">
                <a href="{% url 'singleImage' image.id %}">
                    <img src="{{ image.image.url }}" class="img-responsive pull-right" style="height:60%; width:90%; border-radius: 5px">
                </a>
                <div style="margin-bottom:30px;">
                    {{image.image_caption}}
                    <br>
                    <br>
                    <span style="color:rgb(35, 106, 180)">{{image.user.username}}</span>
                    <span style="color:grey ;margin-left:10px; font-size:10px;"> click image to see details</span>
                    <br>
                    <br>
                    <a href="{% url 'Comment' image.id %}">
                        <button type="button" class="btn btn-primary" name="button">Comment</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

<section class="pull-left" style=" padding: 10%; padding-top: 5%;">
        <p style=" margin-left:10px;color:rgb(4, 47, 74); padding-top:10px; margin-right:20px;font-size:25px;">explore</p>
    {%for profile in shoppers %}
    <div class="card" style="padding: 20%; margin: 5%; ;">
        {% if profile %}
        <a href="{% url 'otherProfile' profile.id %}">
            <img src="{{ profile.profile_photo.url }}" class="img-responsive" style="margin-left:30%; margin-top:20px; height:40px; width:40px; border-radius:50%; ">
            <p style="font-family: 'Kavivanar', cursive;font-size:23px; color: gray; text-align: center; ">{{profile.user}}</p>
        </a>
    </div>

    {% endif %} {% endfor %}
</section>
{% endblock %}
</div>

</body>

</html>