{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<style>
    .container{
        padding-top: 2%;
        /* background-color: black; */
    }

    body{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS97mtNcFkO57H1K2i21OoVNghw6uiym6vJy7Vf2iYtN3sva41Q');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <h2> Password or Username is incorrect </h2>
            {% endif %}
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center">Sign In</h3>
                </div>
                <div class="panel-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form%}

                        <div class="form-group" style="text-align: center;">
                            <input type="submit" class="btn btn-primary btn-sm" value="Login">
                            <a href="{% url 'registration_register'  %}" class="btn btn-danger btn-sm">Sign Up</a>
                        </div>

                        <input type="hidden" name="next" value="{% url 'profile' %}">

                    </form>
                </div>
            </div>
        </div>
</div>
</body>

{% endblock %}